$base-accent: #42C482;
$base-text-color: #fff;
$base-bg: #363640;
$base-border-color: #515159;
$base-border-radius: 4px;

$side-panel-min-width: 60px;

$widget-header-bg-color: #1D1D1F;
$widget-header-text-color: #878787;
$widget-border-color: #504848;
$success-color: #42C482;
$success-color-disabled: #357655;

$default-font-size: var(--default-font-size, 14px);
$caption-font-size: calc($default-font-size * 1.3);
$header-font-size: calc($default-font-size * 1.7);
